html {
    scroll-behavior: smooth;
}

body{
    background-color: black;
    font-size: 18px;
    color: white;
    margin: auto;
}

a{
    color: pink;

}

.c

p{
    text-align: center;

}

h1{

}

h2{

}

h3{

}

div{

}

footer{
    
}